## station_name마다 관광지 및 맛집 출력

In [158]:
temp=[{'station_name': '역삼', 't_name': '역삼관광지 1'}, {'station_name': '선릉', 't_name': '선릉관광지1'}, {'station_name': '역삼', 't_name': '역삼관광지2'}, {'station_name': '역삼', 't_name': '역삼맛집1'}, {'station_name': '역삼', 't_name': '역삼맛집2'}, {'station_name': '선릉', 't_name': '선릉관광지2'}, {'station_name': '선릉', 't_name': '선릉관광지3'}, {'station_name': '선릉', 't_name': '선릉맛집1'}, {'station_name': '역삼', 't_name': '역삼맛집3'}]

In [159]:
temp

[{'station_name': '역삼', 't_name': '역삼관광지 1'},
 {'station_name': '선릉', 't_name': '선릉관광지1'},
 {'station_name': '역삼', 't_name': '역삼관광지2'},
 {'station_name': '역삼', 't_name': '역삼맛집1'},
 {'station_name': '역삼', 't_name': '역삼맛집2'},
 {'station_name': '선릉', 't_name': '선릉관광지2'},
 {'station_name': '선릉', 't_name': '선릉관광지3'},
 {'station_name': '선릉', 't_name': '선릉맛집1'},
 {'station_name': '역삼', 't_name': '역삼맛집3'}]

In [170]:
x=[]

In [171]:
for i in temp:
    x.append(i['station_name'])
#     print(i['station_name'])

In [172]:
x

['역삼', '선릉', '역삼', '역삼', '역삼', '선릉', '선릉', '선릉', '역삼']

In [173]:
st=set(x)

In [174]:
st

{'선릉', '역삼'}

In [168]:
for i in temp:
    for j in st:
        if i['station_name']==j:
            print(i['t_name'])

In [166]:
st={}
for i in temp:
    print(i['station_name'])

역삼
선릉
역삼
역삼
역삼
선릉
선릉
선릉
역삼

In [179]:
for i in st:
    for j in temp:
        #print(i,j['station_name'])
        if i==j['station_name']:
            print('station : {}역, category : {}'.format(i,j['t_name']))

station : 선릉역, category : 선릉관광지1
station : 선릉역, category : 선릉관광지2
station : 선릉역, category : 선릉관광지3
station : 선릉역, category : 선릉맛집1
station : 역삼역, category : 역삼관광지 1
station : 역삼역, category : 역삼관광지2
station : 역삼역, category : 역삼맛집1
station : 역삼역, category : 역삼맛집2
station : 역삼역, category : 역삼맛집3

## 딕셔너리 안에 카테고리 (관광지->tour /  맛집->res)로 변경

In [80]:
x=[{'station_name': '신설동', 't_name': '서울풍물시장전통문화체험관', 'address': '서울 동대문구 천호대로4길 21-0', 'cate': '관광지', 'lat': 37.57272897, 'lon': 127.0254018}, {'station_name': '신설동', 't_name': '동네극장', 'address': '서울 동대문구 안암로6길 19-0', 'cate': '관광지', 'lat': 37.57918385, 'lon': 127.0258954}, {'station_name': '신설동', 't_name': '렛츠런CCC/동대문지점', 'address': '서울 동대문구 난계로 254-0', 'cate': '관광지', 'lat': 37.57432329, 'lon': 127.023729}, {'station_name': '신설동', 't_name': '서울풍물시장', 'address': '서울 동대문구 천호대로4길 21-0', 'cate': '관광지', 'lat': 37.57274015, 'lon': 127.0253955}, {'station_name': '신설동', 't_name': '커피명가안암점', 'address': '서울 성북구 안암로5길 40-0', 'cate': '맛집', 'lat': 37.580887, 'lon': 127.0235}, {'station_name': '신설동', 't_name': '더가루/왕십리점', 'address': '서울 성동구 청계천로 450-0', 'cate': '관광지', 'lat': 37.57025107, 'lon': 127.0268721}, {'station_name': '신설동', 't_name': '육전식당본점', 'address': '서울 동대문구 난계로30길 16-0', 'cate': '맛집', 'lat': 37.574284, 'lon': 127.0243}, {'station_name': '신설동', 't_name': '육전식당3호점', 'address': '서울 동대문구 천호대로 38-0', 'cate': '맛집', 'lat': 37.57369, 'lon': 127.027504}, {'station_name': '신설동', 't_name': '옥천옥설렁탕', 'address': '서울 동대문구 하정로 16-0', 'cate': '맛집', 'lat': 37.572483, 'lon': 127.02698}, {'station_name': '신설동', 't_name': '어머니대성집', 'address': '서울 동대문구 왕산로11길 4-0', 'cate': '맛집', 'lat': 37.577473, 'lon': 127.028564}, {'station_name': '신설동', 't_name': '더모임', 'address': '서울 동대문구 왕산로 6-0', 'cate': '맛집', 'lat': 37.575726, 'lon': 127.02446}, {'station_name': '신설동', 't_name': '킹수제만두', 'address': '서울 동대문구 한빛로 3-0', 'cate': '맛집', 'lat': 37.57652, 'lon': 127.02412}]

In [81]:
cate=[]

In [99]:
for i in x:
    if i['cate']=='관광지':
       i.update(cate='tour')
    else:
        i.update(cate='res')

In [100]:
x

[{'station_name': '신설동',
  't_name': '서울풍물시장전통문화체험관',
  'address': '서울 동대문구 천호대로4길 21-0',
  'cate': 'tour',
  'lat': 37.57272897,
  'lon': 127.0254018},
 {'station_name': '신설동',
  't_name': '동네극장',
  'address': '서울 동대문구 안암로6길 19-0',
  'cate': 'tour',
  'lat': 37.57918385,
  'lon': 127.0258954},
 {'station_name': '신설동',
  't_name': '렛츠런CCC/동대문지점',
  'address': '서울 동대문구 난계로 254-0',
  'cate': 'tour',
  'lat': 37.57432329,
  'lon': 127.023729},
 {'station_name': '신설동',
  't_name': '서울풍물시장',
  'address': '서울 동대문구 천호대로4길 21-0',
  'cate': 'tour',
  'lat': 37.57274015,
  'lon': 127.0253955},
 {'station_name': '신설동',
  't_name': '커피명가안암점',
  'address': '서울 성북구 안암로5길 40-0',
  'cate': 'res',
  'lat': 37.580887,
  'lon': 127.0235},
 {'station_name': '신설동',
  't_name': '더가루/왕십리점',
  'address': '서울 성동구 청계천로 450-0',
  'cate': 'tour',
  'lat': 37.57025107,
  'lon': 127.0268721},
 {'station_name': '신설동',
  't_name': '육전식당본점',
  'address': '서울 동대문구 난계로30길 16-0',
  'cate': 'res',
  'lat': 37.574284,
  'lon': 127.0243},
 {'station_name': '신설동',
  't_name': '육전식당3호점',
  'address': '서울 동대문구 천호대로 38-0',
  'cate': 'res',
  'lat': 37.57369,
  'lon': 127.027504},
 {'station_name': '신설동',
  't_name': '옥천옥설렁탕',
  'address': '서울 동대문구 하정로 16-0',
  'cate': 'res',
  'lat': 37.572483,
  'lon': 127.02698},
 {'station_name': '신설동',
  't_name': '어머니대성집',
  'address': '서울 동대문구 왕산로11길 4-0',
  'cate': 'res',
  'lat': 37.577473,
  'lon': 127.028564},
 {'station_name': '신설동',
  't_name': '더모임',
  'address': '서울 동대문구 왕산로 6-0',
  'cate': 'res',
  'lat': 37.575726,
  'lon': 127.02446},
 {'station_name': '신설동',
  't_name': '킹수제만두',
  'address': '서울 동대문구 한빛로 3-0',
  'cate': 'res',
  'lat': 37.57652,
  'lon': 127.02412}]

## 주소에서 / 제거

In [118]:
x=[{'station_name': '건대입구', 't_name': '감성타코건대점', 'address': '서울 광진구 능동로13길 39-0', 'cate': 'res', 'lat': 37.54396, 'lon': 127.069756}, {'station_name': '건대입구', 't_name': '광진문화예술회관/나루아트센터'
, 'address': '서울 광진구 능동로 76-0', 'cate': 'tour', 'lat': 37.5374945, 'lon': 127.0706418}, {'station_name': '건대입구', 't_name': '퐁퐁플라워/건대센터', 'address': '서울 광진구 아차산로 272-0', 'cate': 'tour', 'lat': 37.5386055
, 'lon': 127.0730582}, {'station_name': '건대입구', 't_name': '한아름쇼핑센터', 'address': '서울 광진구 능동로13길 39-0', 'cate': 'tour', 'lat': 37.5434938, 'lon': 127.069864}]

In [123]:
for i in x:
    i['t_name']=i['t_name'].replace('/','')

In [124]:
x

[{'station_name': '건대입구',
  't_name': '감성타코건대점',
  'address': '서울 광진구 능동로13길 39-0',
  'cate': 'res',
  'lat': 37.54396,
  'lon': 127.069756},
 {'station_name': '건대입구',
  't_name': '광진문화예술회관나루아트센터',
  'address': '서울 광진구 능동로 76-0',
  'cate': 'tour',
  'lat': 37.5374945,
  'lon': 127.0706418},
 {'station_name': '건대입구',
  't_name': '퐁퐁플라워건대센터',
  'address': '서울 광진구 아차산로 272-0',
  'cate': 'tour',
  'lat': 37.5386055,
  'lon': 127.0730582},
 {'station_name': '건대입구',
  't_name': '한아름쇼핑센터',
  'address': '서울 광진구 능동로13길 39-0',
  'cate': 'tour',
  'lat': 37.5434938,
  'lon': 127.069864}]

## 중복된 관광지 및 맛집 DB에 저장 막기

#### 장고에서 getlist로 받아온 list형식

In [185]:
lis=['구름아래소극장', '플라워바이네이키드']

In [186]:
lis

['구름아래소극장', '플라워바이네이키드']

#### 장고에서 쿼리셋 형식 [{}]

In [187]:
lis_add=[{'t_name': '구름아래소극장'}, {'t_name': '플라워바이네이키드'}]

In [188]:
lis_add

[{'t_name': '구름아래소극장'}, {'t_name': '플라워바이네이키드'}]

In [114]:
l=[]

In [115]:
for i in range(len(lis_add)):
    l.append(list(lis_add[i].values())[0])

In [116]:
l

['구름아래소극장', '플라워바이네이키드']

In [122]:
lis.append('장소1')

In [183]:
l.append('장소2').append('장소3')

AttributeError: 'NoneType' object has no attribute 'append'

### DB=l , 추가된 리스트=lis

In [182]:
l

['구름아래소극장', '플라워바이네이키드', 'dd', 'dd', ['장소2', '장소3']]

In [135]:
lis

['구름아래소극장', '플라워바이네이키드', 'asdf']

추가된 리스트랑 db를 비교 -> 추가된 리스트 중 db에 이미 존재하는것이 있으면 추가 X 아니면 추가

In [148]:
for i in lis:
    
    if i not in l:
        print(i,'추가')

asdf 추가

## 장고 내 views 내 함수
    if request.method == 'POST':
        station = request.POST['station']
        gu = request.POST['gu']
        location = request.POST.getlist('location')
        location_cate = request.POST.getlist('location_cate')
        # print(location)
        id = request.user.id
        list_t=MyPlace.objects.filter(user_id=id).values('t_name')
        # # print(list_t)
        l=[]
        for i in range(len(list_t)):
            l.append(list(list_t[i].values())[0])
        # print(l)

        for i, name in enumerate(location):
            if len(location) != 0:
                if name not in l:
                    #for i, name in enumerate(location):
                   MyPlace(user_id=id, gu=gu, station_name=station, t_name=name, cate=location_cate[i]).save()
            else:
                MyPlace(user_id=id, gu=gu, station_name=station, t_name=name, cate=location_cate[i]).save()
    else:
        return redirect('/')