In [2]:
import pandas as pd
import numpy as np

In [3]:
total=pd.read_csv('./fin.csv',index_col=0)

In [4]:
total.head()

,RAIN,HUMN,SNOW,SKY,ONDO,WINDD,WINDS,PM10,PM25,T,W,TOTAL
STATION_NAME,,,,,,,,,,,,
가락시장,0.0,3.806662,0.0,1.386294,-4.9,2.639057,0.955511,3.871201,3.583519,0.0,7.848104,6.410175
가락시장,0.0,3.737670,0.0,0.693147,-3.7,2.639057,1.252763,3.713572,3.258097,0.0,7.848104,6.719013
가락시장,0.0,3.871201,0.0,1.386294,-2.8,2.639057,1.335001,3.761200,3.367296,0.0,7.848104,6.933423
가락시장,0.0,3.912023,0.0,1.386294,-1.5,2.564949,1.308333,3.828641,3.433987,0.0,7.848104,6.844815
가락시장,0.0,3.951244,0.0,1.386294,-1.7,2.639057,1.504077,3.761200,3.295837,0.0,7.848104,6.965080

In [5]:
X=total.drop('TOTAL',axis=1)
Y=total[['TOTAL']]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge,Lasso,ElasticNet
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import cross_val_score

In [7]:
# train, test 데이터 분리 (8 : 2)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, shuffle=True, random_state=34)

In [8]:
alpha=[0.01,0.05,0.1,1,5,10]

### L2 기본선형과 차이 거의 없음

In [9]:
for i in alpha:
    ridge=Ridge(alpha=i)
    
    mse_scores=cross_val_score(ridge,X_train,y_train,scoring='neg_mean_squared_error',cv=5)
    r2_scores=cross_val_score(ridge,X_train,y_train,scoring='r2',cv=5)
    avg_score=np.mean(-1*mse_scores)
    avg_r2=np.mean(r2_scores)
    print('alpha {0},평균 MSE {1} 평균 R2 {2}'.format(i,avg_score,avg_r2))

alpha 0.01,평균 MSE 0.26212881551200107 평균 R2 0.6629861767536631
alpha 0.05,평균 MSE 0.26212881550287387 평균 R2 0.6629861767648363
alpha 0.1,평균 MSE 0.2621288154918336 평균 R2 0.6629861767783287
alpha 1,평균 MSE 0.2621288153628856 평균 R2 0.6629861769315195
alpha 5,평균 MSE 0.26212881635891494 평균 R2 0.6629861755958191
alpha 10,평균 MSE 0.26212882107078306 평균 R2 0.6629861694708649

### L1 alpha0.01은 기본선형과 차이 거의 없음( 0.05부터는 성능 저하)

In [10]:
for i in alpha:
    lasso=Lasso(alpha=i)
    
    mse_scores=cross_val_score(lasso,X_train,y_train,scoring='neg_mean_squared_error',cv=5)
    avg_score=np.mean(-1*mse_scores)
    print('alpha {0},평균 MSE {1}'.format(i,avg_score))

alpha 0.01,평균 MSE 0.26561360869276673
alpha 0.05,평균 MSE 0.30723934100918815
alpha 0.1,평균 MSE 0.3417198819439943
alpha 1,평균 MSE 0.7777983063277405
alpha 5,평균 MSE 0.7777983063277405
alpha 10,평균 MSE 0.7777983063277405

In [11]:
ratio=[0.1,0.3,0.5,0.7,0.9]

### ElasticNet 기본선형과 거의 차이 없음

In [12]:
for i in alpha:
    for j in ratio:
        elas=ElasticNet(alpha=i,l1_ratio=j)

        mse_scores=cross_val_score(elas,X_train,y_train,scoring='neg_mean_squared_error',cv=5)
        avg_score=np.mean(-1*mse_scores)
        print('alpha {0},ratio {1},평균 MSE {2}'.format(i,j,avg_score))

alpha 0.01,ratio 0.1,평균 MSE 0.263099517227124
alpha 0.01,ratio 0.3,평균 MSE 0.26343593745307603
alpha 0.01,ratio 0.5,평균 MSE 0.26394251455084144
alpha 0.01,ratio 0.7,평균 MSE 0.2646359527389602
alpha 0.01,ratio 0.9,평균 MSE 0.2653839927976704
alpha 0.05,ratio 0.1,평균 MSE 0.2760218302353806
alpha 0.05,ratio 0.3,평균 MSE 0.28067286299988753
alpha 0.05,ratio 0.5,평균 MSE 0.28715227681644745
alpha 0.05,ratio 0.7,평균 MSE 0.2956232283791269
alpha 0.05,ratio 0.9,평균 MSE 0.30262437377978707
alpha 0.1,ratio 0.1,평균 MSE 0.2982500791591109
alpha 0.1,ratio 0.3,평균 MSE 0.31224029535844916
alpha 0.1,ratio 0.5,평균 MSE 0.32656983254634275
alpha 0.1,ratio 0.7,평균 MSE 0.33914442652227444
alpha 0.1,ratio 0.9,평균 MSE 0.3408046809648246
alpha 1,ratio 0.1,평균 MSE 0.5764447201787557
alpha 1,ratio 0.3,평균 MSE 0.6718568787157595
alpha 1,ratio 0.5,평균 MSE 0.7777983063277405
alpha 1,ratio 0.7,평균 MSE 0.7777983063277405
alpha 1,ratio 0.9,평균 MSE 0.7777983063277405
alpha 5,ratio 0.1,평균 MSE 0.7777983063277405
alpha 5,ratio 0.3,평균 MSE 0.7777983063277405
alpha 5,ratio 0.5,평균 MSE 0.7777983063277405
alpha 5,ratio 0.7,평균 MSE 0.7777983063277405
alpha 5,ratio 0.9,평균 MSE 0.7777983063277405
alpha 10,ratio 0.1,평균 MSE 0.7777983063277405
alpha 10,ratio 0.3,평균 MSE 0.7777983063277405
alpha 10,ratio 0.5,평균 MSE 0.7777983063277405
alpha 10,ratio 0.7,평균 MSE 0.7777983063277405
alpha 10,ratio 0.9,평균 MSE 0.7777983063277405

## L2가 가장 좋은 성능(but,기본 선형모델과 성능변화 거의 없음)